.wrapper {
  height: 40px;
  aspect-ratio: 1 / 1;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}