.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(242, 51, 51, 0.75);
  border-radius: 20px;
  box-shadow: rgba(242, 51, 51, 0.75) 3px 3px 10px;
  text-align: center;
}

.logo-container {
  height: 130px;
  width: 100%;
}

.search-container {
  height: 60px;
  width: 100%;
  padding: 5px 10px;

  .searchBar {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.75);
    box-shadow: rgb(255, 255, 255, 0.75) 3px 3px 10px;
  }

  .searchBar:focus-visible {
    outline: none;
  }
}

.menu-container {
  height: 490px;
  width: 100%;
  padding: 5px 10px;
}

.fanpage-container {
  height: 135px;
  width: 100%;
}

.copyright {
  width: 100%;
  margin-top: auto;
}