.wrapper {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid var(--color-red-2) 1px;

  .bookCover {
    padding: 10px;
    height: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 20px;
  }

  .bookSummary {
    text-align: left;
  }
}