.wrapper {
  height: calc(100vh - 20px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(242, 51, 51, 0.5);
  box-shadow: rgba(242, 51, 51, 0.75) 3px 3px 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.wrapper::-webkit-scrollbar-track {
  margin: 0;
}

.user-container {
  height: 130px;
  width: 100%;
  display: flex;
  padding: 10px 10px 5px 10px;

  .avatar-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .info-wrapper {
    margin-left: 10px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    overflow: auto;
  }
}

.func-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.indBook-container {
  height: calc(100% - 130px - 50px);
  width: 100%;
  padding: 5px 10px 10px 10px;

  .tabBar {
    height: 40px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;

    .tab {
      width: 50%;
      display: flex;

      + .tab {
        border-left: solid rgba(242, 51, 51, 0.5) 1px;
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 20px 0 0 20px;
      }

      .titleBar {
        margin: auto 0;
        padding: 5px;
        width: calc(100% - 10px);
      }

      .icon-wrapper {
        margin: auto 5px;
        height: 30px;
        aspect-ratio: 1 / 1;
        background-color: rgba(242, 51, 51, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
      }
    }
  }

  .tabContent {
    height: calc(100% - 50px);
    margin-top: 10px;
  }
}