.wrapper {
  height: calc(100vh - 20px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  background-color: var(--color-red-2);
  box-shadow: var(--color-red-3) 3px 3px 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .user-container {
    height: 130px;
    width: 100%;
    display: flex;
    padding: 10px 10px 5px 10px;

    .avatar-wrapper {
      height: 100%;
      width: 50%;

      img {
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }
    }

    .info-wrapper {
      margin-left: 10px;
      height: 100%;
      width: 50%;
      background-color: var(--color-white-3);
      border-radius: 20px;
      text-align: left;
      padding: 10px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  .func-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .indBook-container {
    height: calc(100% - 130px - 50px);
    width: 100%;
    padding: 5px 10px 10px 10px;

    .tabBar {
      height: 40px;
      width: 100%;
      display: flex;
      background-color: var(--color-white-3);
      border-radius: 20px;

      .tab {
        width: 50%;
        display: flex;

        + .tab {
          border-left: solid var(--color-red-2) 1px;
        }

        &.active {
          background-color: var(--color-white-4);
          border-radius: 20px 0 0 20px;
        }

        .titleBar {
          margin: auto 0;
          padding: 5px;
          width: calc(100% - 10px);
        }
      }
    }

    .tabContent {
      height: calc(100% - 50px);
      margin-top: 10px;
    }
  }
}

.wrapper::-webkit-scrollbar-track {
  margin: 0;
}