@import "~@flaticon/flaticon-uicons/css/all/all";

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

*::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(242, 51, 51, 0.25);
}

*::-webkit-scrollbar-track {
    margin: 10px 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "000 Blambot Pro Lite TB";
    src: url("assets/fonts/Blambot-Pro-Lite-TB.ttf") format("truetype");
}

@font-face {
    font-family: "000 CCMonologous [TeddyBear]";
    src: url("assets/fonts/CCMonologou-TB.ttf") format("truetype");
}

@font-face {
    font-family: "HL-Comicboom-Unicode";
    src: url("assets/fonts/HLcomicboom-Uni.ttf") format("truetype");
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2 {
    font-family: "HL-Comicboom-Unicode", serif;
    letter-spacing: 1px;
}

h3, h4 {
    font-family: "000 CCMonologous [TeddyBear]", serif;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-family: "000 Blambot Pro Lite TB", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-style: oblique;
}

i {
    font-size: 1.3rem;
    line-height: 0;
}

button, input, [tabindex] {
    font-family: "000 CCMonologous [TeddyBear]", serif;
    outline: none;
    border: none;
    background-color: transparent;
}

input {
    font-family: "000 Blambot Pro Lite TB", serif;
}